<style>
    .custom-shape-divider-top-1735487852 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1735487852 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        margin-top: 40px;
        height: 35px;
    }

    .custom-shape-divider-top-1735487852 .shape-fill {
        fill: #64F6AC;
    }

</style>
<script src="https://cdn.tailwindcss.com"></script>
<div>
    <div class="custom-shape-divider-top-1735487852">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div>
    <div>
        <div class="text-5xl text-center font-bold mt-20">Certifications</div>
        <hr class="border-t-4 border-[#64F6AC] w-1/2 mx-auto ">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-4 sm:mx-12 my-16">
            <div
                class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a target="_blank" href="https://cs50.harvard.edu/certificates/b5e9783e-e928-4f66-a204-6e918ad29310">
                    <img class="rounded-t-lg object-cover h-48 w-full" src="/public/imgs/certificates/cs50x.jpg"
                        alt="CS50x Certificate" />
                </a>
                <div class="p-5">
                    <a target="_blank"
                        href="https://cs50.harvard.edu/certificates/b5e9783e-e928-4f66-a204-6e918ad29310">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">CS50’s
                            Introduction to Computer Science</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 sm:text-base text-sm">
                        I completed the CS50x course, which is an introduction to computer science from Harvard. It
                        covered topics such as algorithms, data structures, and web development.
                    </p>
                    <a target="_blank" href="https://cs50.harvard.edu/certificates/b5e9783e-e928-4f66-a204-6e918ad29310"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-green-400 rounded-lg hover:scale-105 focus:ring-4 focus:outline-none focus:ring-green-300">
                        View Certificate
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>

            <div
                class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a target="_blank" href="https://cs50.harvard.edu/certificates/d35c04eb-01e0-42d0-983d-28abf0a134bb">
                    <img class="rounded-t-lg object-cover h-48 w-full" src="/public/imgs/certificates/cs50p.jpg"
                        alt="CS50P Certificate" />
                </a>
                <div class="p-5">
                    <a target="_blank"
                        href="https://cs50.harvard.edu/certificates/d35c04eb-01e0-42d0-983d-28abf0a134bb">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">CS50’s
                            Introduction to Programming with Python</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 sm:text-base text-sm">
                        I completed the CS50P course, which is an introduction to programming with Python from Harvard.
                        It covered topics such as functions, loops, and data structures.
                    </p>
                    <a target="_blank" href="https://cs50.harvard.edu/certificates/d35c04eb-01e0-42d0-983d-28abf0a134bb"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-green-400 rounded-lg hover:scale-105 focus:ring-4 focus:outline-none focus:ring-green-300">
                        View Certificate
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>

            <div
                class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a target="_blank" href="https://cs50.harvard.edu/certificates/66fbe044-b316-469a-b7a6-a3b7c0612374">
                    <img class="rounded-t-lg object-cover h-48 w-full" src="/public/imgs/certificates/cs50w.jpg"
                        alt="CS50W Certificate" />
                </a>
                <div class="p-5">
                    <a target="_blank"
                        href="https://cs50.harvard.edu/certificates/66fbe044-b316-469a-b7a6-a3b7c0612374">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
                            CS50’s Web Programming with Python and JavaScript</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 sm:text-base text-sm">
                        I completed the CS50W course, which is about web programming with Python and JavaScript from
                        Harvard. It covered topics such as HTML, CSS, JavaScript, React, and Django.
                    </p>
                    <a target="_blank" href="https://cs50.harvard.edu/certificates/66fbe044-b316-469a-b7a6-a3b7c0612374"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-green-400 rounded-lg hover:scale-105 focus:ring-4 focus:outline-none focus:ring-green-300">
                        View Certificate
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>

            <div
                class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a target="_blank" href="/public/piaic.pdf">
                    <img class="rounded-t-lg object-cover h-48 w-full" src="/public/imgs/certificates/piaic.jpg"
                        alt="PIAIC Certificate" />
                </a>
                <div class="p-5">
                    <a target="_blank" href="/public/piaic.pdf">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">PIAIC's
                            Artificial
                            Intelligence and Computing</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 sm:text-base text-sm">
                        I completed the PIAIC AIC course, which is an introduction to Artificial Intelligence and Cloud
                        Computing. It covered topics such as machine learning, neural networks, and cloud
                        infrastructure.
                    </p>
                    <a target="_blank" href="/public/piaic.pdf"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-green-400 rounded-lg hover:scale-105 focus:ring-4 focus:outline-none focus:ring-green-300">
                        View Certificate
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="custom-shape-divider-top-1679833674">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
    </svg>
</div>
<div class="flex justify-center lg:w-1/2 w-[80%] flex-col content-center mx-auto animate-right"
    data-aos="animate-right">

    <div class="text-5xl font-bold mt-24 text-center">Projects</div>
    <hr class="border-t-4 border-[#64F6AC]">
    <div class="projects my-5 text-center text-2xl">
        Explore my portfolio of projects
        <br>
        <button type="button"
            class="hover:scale-110 text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-lg text-center ml-3 mb-2 mt-4 p-5">Go
            To Projects</button>

    </div>
</div>
