<div class="custom-shape-divider-top-1679692840">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill">
        </path>
    </svg>
</div>


<div class="custom-shape-divider-bottom-1679833160 mt-48">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25" class="shape-fill"></path>
        <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5" class="shape-fill"></path>
        <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"></path>
    </svg>
</div>

<div id="skills" class="flex justify-center w-[80%] md:w-[50%] flex-col content-center mx-auto animate-right"
    data-aos="animate-right">

    <div class="text-5xl font-bold mt-24 text-center">Technical Skills</div>

    <div class="border-t-4 border-[#64F6AC] my-5">

        <div class="mt-10 text-2xl">Languages</div>
        <div class="grid grid-cols-3 text-center gap-4">


            <div class="text-lg font-semibold">

                <img class="w-6 inline-block" src="/public/imgs/logos/python.png" alt="">
                Python
            </div>
            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/js.png" alt="">
                Javascript
            </div>

        </div>

        <div class="mt-10 text-2xl">Front End</div>
        <div class="grid grid-cols-3 text-center gap-4">
            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/html.png" alt="">
                HTML 5
            </div>
            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/css.webp" alt="">
                CSS 3
            </div>




            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/tailwind.webp" alt="">
                Tailwind CSS
            </div>
            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/jquery.webp" alt="">
                Jquery
            </div>
            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/bootstrap.webp" alt="">
                Bootstrap
            </div>


        </div>


        <div class="mt-10 text-2xl">Back End</div>
        <div class="grid grid-cols-3 text-center gap-4">



            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/flask.icns" alt="">
                Flask
            </div>

            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/fast.ico" alt="">
                Fast API
            </div>

        </div>

        <div class="text-2xl mt-10">Database</div>
        <div class="grid grid-cols-3 text-center gap-4">



            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/mongo.webp" alt="">
                MongoDB
            </div>
            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/mysql.png" alt="">
                Mysql
            </div>
            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/sql.png" alt="">
                SQL
            </div>


        </div>



        <div class="text-2xl mt-10">Other Python Libraries</div>
        <div class="grid grid-cols-3 text-center gap-4">

            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/discord.png" alt="">
                Discord.py
            </div>
        </div>

        <div class="text-2xl mt-10">Others</div>
        <div class="grid grid-cols-3 text-center gap-4">


            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/git.webp" alt="">
                Git
            </div>

            <div class="text-lg font-semibold">
                <img class="w-6 inline-block" src="/public/imgs/logos/bash.png" alt="">
                Bash
            </div>


        </div>



    </div>
</div>
