<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Muhammad Moosa Portfolio">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="public/imgs/logo.png" type="image/x-icon">

   <link rel="stylesheet" href="public/css/dist/output.css">
   <link rel="stylesheet" href="public/css/dist/style.css">



   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

   <title>{%block title%}{%endblock%}</title>
</head>

<body class="dark:bg-gray-900 bg-gray-200 dark:text-white">

   <nav class="fixed top-0 z-50 w-full bg-gray-300 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
         <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
               <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                  type="button"
                  class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                  <span class="sr-only">Open sidebar</span>
                  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                     <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                     </path>
                  </svg>
               </button>




               <a href="/" class="flex ml-2 md:mr-24">
                  <img src="public/imgs/logo.png" class="h-8 mr-3" alt="Portfolio Logo" />
                  <span
                     class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Portfolio</span>
               </a>
            </div>
         </div>
      </div>
   </nav>

   <aside id="logo-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-gray-300 border-r border-gray-300 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
      aria-label="Sidebar">
      <div class="h-full px-3 pb-4 overflow-y-auto bg-gray-300 dark:bg-gray-800">
         <ul class="space-y-2">
            <li class="index">
               <a href="#home"
                  class=" hover:scale-105 hover:font-bold flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <i class="fa-solid fa-home text-gray-400 p-1"></i>
                  <span class="ml-3">Home</span>
               </a>
            </li>

            <li class="index">
               <a href="#about"
                  class="hover:scale-105 flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <i class="fa-solid fa-address-book text-gray-400 p-1"></i>
                  <span class="ml-3">About Me</span>
               </a>
            </li>


            <li class="index">
               <a href="#skills"
                  class="hover:scale-105 flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <i class="fa-solid fa-graduation-cap text-gray-400 p-1"></i>
                  <span class="ml-3">Skills</span>
               </a>
            </li>


            <li class="projects">
               <a href="#myproject"
                  class="hover:cursor-pointer hover:scale-105 flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 ">
                  <i class="fa-solid fa-rectangle-list text-gray-400 p-1"></i>
                  <span class="ml-3">Projects</span>
               </a>
            </li>


            <li class="index">
               <a href="#contact"
                  class="hover:scale-105 flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <i class="fa-solid fa-phone text-gray-400 p-1"></i>
                  <span class="ml-3">Contact Me</span>
               </a>
            </li>

            <div class="absolute bottom-0 p-5 ml-12">
               <input type="checkbox" class="checkbox" id="checkbox">
               <label for="checkbox" class="label">
                  <i class="fas fa-moon"></i>
                  <i class='fas fa-sun'></i>
                  <div class='ball'>
               </label>
            </div></span>

            </a>
            </li>
         </ul>
      </div>
   </aside>

   <div id="loading-bar">
      <div class="bar"></div>
   </div>



   <div id="content" class="sm:ml-64 overflow-y-hidden">


      {% block content %}{%endblock%}

   </div>
   <i id="scrollBtn" class="fa-solid fa-arrow-circle-up"></i>

</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
   integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<script src="public/js/main.js" defer></script>
<script src="public/js/style.js"></script>
