<div class="mt-28 ml-5 md:ml-20 mb-10">
    <button onclick="load_index()"
        class="index hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center mr-2 mb-2 p-3 px-4">Go
        To Home Page</button>

</div>
<div class="text-center text-4xl" id="myproject">Check Out My Projects</div>

<div class="text-center text-lg mb-10">
    Here are some of the projects I have worked on. Click on the buttons to view the live demo or the source code.
</div>
<div class="grid place-items-center gap-10 font-serif">

    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 my-12">
        <img class="w-full rounded-t-lg h-64 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="/public/imgs/projects/goofcoin.gif" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">GoofCoin <span
                    class="text-gray-500 font-thin font-serif text-sm">(Web
                    App)</span></h5>
            <div>GoofCoin is a prototype cryptocurrency application built using Django, React, and Tailwind CSS. It
                enables users to
                register, manage wallets, and perform transactions securely on a blockchain-inspired system. </div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/python.png" alt=""> Python
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/django.webp" alt=""> Django

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/react.png" alt=""> React

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/aws.png" alt=""> AWS

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/postgres.png" alt=""> Postgresql

                <img class="ml-3 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML

                <img class="ml-3 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/tailwind.webp" alt=""> Tailwind





            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <a target="_blank" href="https://goofcoin.vercel.app/">
                <button type="button"
                    class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center p-2 mr-2 mb-2"><i
                        class="fa-solid fa-tower-cell"></i> <br>Live Demo</button>
            </a>
            <a target="_blank" href="https://github.com/moosa817/goofcoin">
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span style="padding-top:15px;padding-bottom:15px;"
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <i class="fa-brands fa-github"></i>Source Code
                    </span>
                </button>
            </a>
        </div>

    </div>






    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 my-12">
        <img class="w-full rounded-t-lg h-64 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="/public/imgs/projects/talktopia.gif" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">TalkTopia <span
                    class="text-gray-500 font-thin font-serif text-sm">(Web
                    App)</span></h5>
            <div>Talktopia built with django and aws websockets,Its a real time chat app with rooms/private rooms topic
                specifc rooms </div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/python.png" alt=""> Python
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/django.webp" alt=""> Django

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/aws.png" alt=""> AWS
                <br>
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/websocket.png" alt=""> WebSockets

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/mysql.png" alt=""> MYSQL

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/tailwind.webp" alt=""> Tailwind

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/jquery.webp" alt=""> Jquery


            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <a target="_blank" href="https://talktopia.vercel.app/">
                <button type="button"
                    class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center p-2 mr-2 mb-2"><i
                        class="fa-solid fa-tower-cell"></i> <br>Live Demo</button>
            </a>
            <a target="_blank" href="https://github.com/moosa817/talktopia">
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span style="padding-top:15px;padding-bottom:15px;"
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <i class="fa-brands fa-github"></i>Source Code
                    </span>
                </button>
            </a>
        </div>

    </div>







    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 my-12">
        <img class="w-full rounded-t-lg h-64 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="/public/imgs/projects/spotitube.gif" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Spoti2Tube <span
                    class="text-gray-500 font-thin font-serif text-sm">(Web
                    App)</span></h5>
            <div>Spoti2Tube can download spotify tracks/playlists/albums and even saved tracks,it searches them with
                spotify api and
                downloads them through youtubedl</div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/python.png" alt=""> Python

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/fast.ico" alt=""> Fast Api

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML
                <br>
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/tailwind.webp" alt=""> Tailwind CSS


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript

                <br>
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/jquery.webp" alt=""> Jquery


            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <a target="_blank" href="https://spoti2tube.vercel.app/">
                <button type="button"
                    class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center p-2 mr-2 mb-2"><i
                        class="fa-solid fa-tower-cell"></i> <br>Live Demo</button>
            </a>
            <a target="_blank" href="https://github.com/moosa817/spoti2tube">
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span style="padding-top:15px;padding-bottom:15px;"
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <i class="fa-brands fa-github"></i>Source Code
                    </span>
                </button>
            </a>
        </div>

    </div>

    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 my-12">
        <img class="w-full rounded-t-lg h-64 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="/public/imgs/projects/notes.gif" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Notes <span
                    class="text-gray-500 font-thin font-serif text-sm">(Web
                    App)</span></h5>
            <div>This app lets you create, edit, and delete notes with a rich HTML editor. Organize your notes
                efficiently and access them anytime. The intuitive interface ensures a seamless experience for managing
                your notes.</div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/python.png" alt=""> Python

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/flask.icns" alt=""> Flask

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML
                <br>
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/bootstrap.webp" alt=""> Bootstrap

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/jquery.webp" alt=""> Jquery

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/mongo.webp" alt=""> MongoDB

            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <a target="_blank" href="https://notes817.vercel.app/">

                <button type="button"
                    class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center p-2 mr-2 mb-2"><i
                        class="fa-solid fa-tower-cell"></i> <br>Live Demo</button>
            </a>
            <a target="_blank" href="https://github.com/moosa817/notes">

                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span style="padding-top:15px;padding-bottom:15px;"
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <i class="fa-brands fa-github"></i>Source Code
                    </span>
                </button>
            </a>
        </div>

    </div>


    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 my-12">
        <img class="w-full rounded-t-lg h-64 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="/public/imgs/projects/ittihadtahafuz.gif" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Ittihad Tahafuz Foundation
                <span class="text-gray-500 font-thin font-serif text-sm">(Website)</span>
            </h5>
            <div>I created the Ittihad Tahafuz Foundation charity platform to support and manage its initiatives
                effectively.
                <div class="text-red-500">Note: This Charity is not operational anymore</div>
            </div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/python.png" alt=""> Python

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/django.webp" alt=""> Django

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML
                <br>
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/tailwind.webp" alt=""> Tailwind CSS

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript

                <br>
                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/jquery.webp" alt=""> Jquery

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/postgres.png" alt="">
                Postgresql

            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <a target="_blank" href="https://ittihadtahafuzfoundation.org/">

                <button type="button"
                    class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center p-2 mr-2 mb-2"><i
                        class="fa-solid fa-tower-cell"></i> <br>Live Demo</button>
            </a>

            <a target="_blank" href="https://github.com/moosa817/ittihadtahafuzfoundation">

                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span style="padding-top:15px;padding-bottom:15px;"
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <i class="fa-brands fa-github"></i>Source Code
                    </span>
                </button>
            </a>
        </div>

    </div>



    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 my-12">
        <img class="w-full object-cover rounded-t-lg h-64 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="/public/imgs/projects/mediafetcher.gif" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Media Fetcher
                <span class="text-gray-500 font-thin font-serif text-sm">(Chrome Extension)</span>
            </h5>
            <div>A Chrome Extension that fetches all types of media (images, videos, audios) from websites and provides
                an option to download them.</div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:



                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS
                <br>
                <i class="fa-brands fa-chrome"></i>
                Chrome Manifest V3

            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <a href="https://chrome.google.com/webstore/detail/alghingcgggfnhilpkijmbbjkehhdcml" target="_blank"
                class="flex items-center space-x-2 bg-blue-500 text-white py-2 px-4 m-2 rounded-lg hover:bg-blue-600 transition duration-200">
                <!-- Chrome Store Icon (SVG) -->
                <i class="fa-brands fa-chrome"></i>
                <span>Add to Chrome</span>
            </a>


            <a target="_blank" href="https://github.com/moosa817/mediafetcher">

                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span style="padding-top:15px;padding-bottom:15px;"
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        <i class="fa-brands fa-github"></i>&nbsp;Source Code
                    </span>
                </button>
            </a>
        </div>

    </div>
    <!-- 
    <div class="text-3xl my-4">
        Other Projects
    </div> -->


</div>
