<div class="mt-28 ml-5 md:ml-20 mb-10">
    <button onclick="load_index()"
        class="index hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center mr-2 mb-2 p-3 px-4">Go
        To Home Page</button>

</div>
<div class="text-center text-4xl" id="myproject">Check Out My Projects</div>

<div class="text-center text-lg mb-10">
    Here is a list of some projects / websites i have made and worked on
</div>
<div class="grid place-items-center gap-10 font-serif">

    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="w-full rounded-t-lg h-96 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="https://i.ytimg.com/vi/YaGrBUg2zVE/hqdefault.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Spotifree</h5>
            <div>Spotifree can download spotify songs using spotify api and download them through youtubedl api</div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/python.png" alt=""> Python

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/flask.icns" alt=""> Flask

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/bootstrap.webp" alt=""> Bootstrap


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/jquery.webp" alt=""> Jquery


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/mysql.png" alt=""> MYSQL
            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <button type="button"
                class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center p-2 mr-2 mb-2"><i
                    class="fa-solid fa-tower-cell"></i> <br>Live Demo</button>
            <button
                class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span style="padding-top:15px;padding-bottom:15px;"
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    <i class="fa-brands fa-github"></i>Source Code
                </span>
            </button>
        </div>

    </div>

    <div
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow xl:flex-row w-[90%] md:w-[80%] hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="w-full rounded-t-lg h-96 md:h-auto xl:w-[22rem] md:rounded-none md:rounded-l-lg"
            src="https://i.ytimg.com/vi/YaGrBUg2zVE/hqdefault.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Project</h5>
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores quo, eligendi debitis officiis
                delectus ex adipisci officia ratione vitae nam.</div>
            <div class="text-gray-500 font-bold text-sm mt-10">
                built with:

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/python.png" alt=""> Python

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/flask.icns" alt=""> Flask

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/html.png" alt=""> HTML

                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/css.webp" alt=""> CSS


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/bootstrap.webp" alt=""> Bootstrap


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/js.png" alt=""> Javascript


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/jquery.webp" alt=""> Jquery


                <img class="ml-2 mt-1 w-6 inline-block" src="/public/imgs/logos/mysql.png" alt=""> MYSQL
            </div>
        </div>
        <div class="flex lg:flex-col flex-row">
            <button type="button"
                class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm text-center p-2 mr-2 mb-2"><i
                    class="fa-solid fa-tower-cell"></i> <br>Live Demo</button>
            <button
                class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span style="padding-top:15px;padding-bottom:15px;"
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    <i class="fa-brands fa-github"></i>Source Code
                </span>
            </button>
        </div>

    </div>


</div>
